---
- name: Install OpenTelemetry Collector Contrib .rpm package
  ansible.builtin.dnf:
    name: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otel_collector_contrib_version }}/otelcol-contrib_{{ otel_collector_contrib_version }}_linux_{{ otel_collector_contrib_arch }}.rpm"
    state: present
    disable_gpg_check: true
  notify: restart otelcol-contrib
