---
- name: Install OpenTelemetry Collector Contrib .deb package
  ansible.builtin.apt:
    deb: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otel_collector_contrib_version }}/otelcol-contrib_{{ otel_collector_contrib_version }}_linux_{{ otel_collector_contrib_arch }}.deb"
    state: present
  notify: restart otelcol-contrib
