---
- name: Create otel group
  ansible.builtin.group:
    name: "{{ otel_collector_contrib_group }}"
    system: true
    state: present

- name: Create otel user
  ansible.builtin.user:
    name: "{{ otel_collector_contrib_user }}"
    group: "{{ otel_collector_contrib_group }}"
    system: true
    shell: /sbin/nologin
    create_home: false
    state: present

- name: Create temporary download directory
  ansible.builtin.file:
    path: "/tmp/otel-install-{{ otel_collector_contrib_version }}"
    state: directory
    mode: '0755'

- name: Download and unarchive OpenTelemetry Collector Contrib
  ansible.builtin.unarchive:
    src: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otel_collector_contrib_version }}/otelcol-contrib_{{ otel_collector_contrib_version }}_linux_{{ otel_collector_contrib_arch }}.tar.gz"
    dest: "/tmp/otel-install-{{ otel_collector_contrib_version }}"
    remote_src: true
    creates: "/tmp/otel-install-{{ otel_collector_contrib_version }}/otelcol-contrib"

- name: Move binary to install directory
  ansible.builtin.copy:
    src: "/tmp/otel-install-{{ otel_collector_contrib_version }}/otelcol-contrib"
    dest: "{{ otel_collector_contrib_binary_install_dir }}/{{ otel_collector_contrib_service_name }}"
    mode: '0755'
    owner: "{{ otel_collector_contrib_user }}"
    group: "{{ otel_collector_contrib_group }}"
    remote_src: true
  notify: restart otelcol-contrib

- name: Install Systemd Service
  ansible.builtin.template:
    src: otelcol-contrib.service.j2
    dest: /etc/systemd/system/{{ otel_collector_contrib_service_name }}.service
    mode: '0644'
  notify: restart otelcol-contrib
