---
- name: Download OpenTelemetry Collector Contrib .rpm package
  ansible.builtin.get_url:
    url: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otel_collector_contrib_version }}/otelcol-contrib_{{ otel_collector_contrib_version }}_linux_{{ otel_collector_contrib_arch }}.rpm"
    dest: "/tmp/otelcol-contrib_{{ otel_collector_contrib_version }}_linux_{{ otel_collector_contrib_arch }}.rpm"
    mode: '0644'

- name: Install OpenTelemetry Collector Contrib .rpm package
  ansible.builtin.dnf:
    name: "/tmp/otelcol-contrib_{{ otel_collector_contrib_version }}_linux_{{ otel_collector_contrib_arch }}.rpm"
    state: present
    disable_gpg_check: true
  notify: restart otelcol-contrib
