[Unit]
Description=OpenTelemetry Collector Contrib
After=network.target

[Service]
User={{ otel_collector_contrib_user }}
Group={{ otel_collector_contrib_user }}
ExecStart={{ otel_collector_contrib_binary_install_dir }}/otelcol-contrib --config=/etc/otelcol-contrib/config.yaml
Restart=on-failure
SyslogIdentifier=otelcol-contrib

[Install]
WantedBy=multi-user.target
