# Maintainer: Ansible Role <none>
pkgname=otelcol-contrib
pkgver={{ otel_collector_contrib_version }}
pkgrel=1
pkgdesc="OpenTelemetry Collector Contrib"
arch=('x86_64' 'aarch64')
url="https://github.com/open-telemetry/opentelemetry-collector-releases"
license=('Apache-2.0')
depends=()
makedepends=()
source_x86_64=("${url}/releases/download/v${pkgver}/otelcol-contrib_${pkgver}_linux_amd64.tar.gz")
source_aarch64=("${url}/releases/download/v${pkgver}/otelcol-contrib_${pkgver}_linux_arm64.tar.gz")
source=("otelcol-contrib.service" "sysusers.conf")
sha256sums_x86_64=('SKIP')
sha256sums_aarch64=('SKIP')
sha256sums=('SKIP' 'SKIP')

package() {
  install -Dm755 "${srcdir}/otelcol-contrib" "${pkgdir}{{ otel_collector_contrib_binary_install_dir }}/otelcol-contrib"
  install -Dm644 "${srcdir}/otelcol-contrib.service" "${pkgdir}/usr/lib/systemd/system/{{ otel_collector_contrib_service_name }}.service"
  install -Dm644 "${srcdir}/sysusers.conf" "${pkgdir}/usr/lib/sysusers.d/otelcol-contrib.conf"
}
